
  *
  {
    box-sizing: border-box;
  }
  body {
    background: #fafafa;
    color: #333333;
    margin: 0;
    padding: 0;
  }

  .navbar
  {
      height: 58px;
      text-align: right;
      position: sticky;
      width: 100%;
      top: 0px;
      margin: 0;
      margin-bottom: 40px;
      z-index: 1;
      background-color: #333;
      padding:2px 30px 2px 30px;

  }
  .nav-item
  {
      background-color: #333;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }
  
 
  .logo
  {
      float: left;
      font-family: cursive;
      font-size: 26px;
      color: rgb(60, 148, 82);
      text-align: center;
      margin: 0;
      padding: 5px 0 5px 0;
  }
  .nav-item a.active
  {
      color: red;
  }
  .nav-item a
  {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: #333;
      position: relative;
      text-decoration: none;
      text-align: center;
      color: white;
      display: block;
      padding:16px;
      
  }
  .nav-item a:hover 
  {
      background-color: #555;
      color: white;
  }

  .side-nav-open
  {
      transition: transform 0.2s;
      color: silver;
      font-size:30px;
      cursor:pointer;
      padding: 2px;
      display: none;
      margin: 0;
  }
  .side-nav-open:hover
  {
      color: white;
      transform: scaley(1.2);
  }
  
  .sidenav {
      height: 0;
      width: 100%; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      background-color: #111; 
      overflow-y: hidden; 
      top:0;
      transition: 0.5s; 
    }
    
    .sidenav a {
      padding: 10px 8px 6px 45px;
      text-decoration: none;
      font-size: 10px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 26px;
      padding: 0;
      margin: 0;
    }

    @media screen and (max-width: 600px) 
    {
      
        .nav-item{display: none;}
        .side-nav-open{display: block;}
        
    }
    @media screen and (min-width: 600px) 
    {
        .sidenav{height: 0;display: none;}
    }


  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
 
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }








  